<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style="text-align:center;padding-bottom:30px;"><%= @post.title %></h1>
      <p class="lead text-info"><%= @post.body %></p><br>
      <%= link_to "Edit", edit_post_path, class: "btn btn-success btn-sm" %>
      <%= link_to "Delete", @post, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure you want to delete this post?'} %>
      <hr>
      <%= render partial: 'comments/comment', collection: @post.comments %>
      <%= render partial: 'comments/form', locals: { post: @post } %>
    </div>
  </div>
</div>
